*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: #48c5ce;
    padding: 10px;
}
.title{
    color: #fff;
    font-size: 26px;
    text-align: center;
}
section{
    background-image: url(../images/people.jpg);
    background-size:cover;
    overflow: hidden;
    padding: 20px;
}
.formContainer{
   float: right;
   background-color: #ffffffbb;
   max-width: 230px;
   padding: 20px;
   text-align: center;
    border-radius: 5px;
}
.formContainer h2{
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
}
.formContainer p{
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
}
input,select{
    background-color: #fff;
    border: none;
   padding: 10px;
   width: 100%;
   margin-bottom: 10px;
}
input[type=submit]{
    background-color: #48c5ce;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
    background-color: #202121;
    text-align: center;
    padding: 40px;

}
.face{
    width: 160px;
  
}
.description{
    color: white;
    display: inline-block;
    width: 40%;
    margin-left: 40px;
}
.description h3{
    font-size: 24px;
}
.description h3, .description p{
    margin-bottom: 20px;
    text-align: left;
}

@media  screen and (max-width:768px) {
    .container{
        width: 100%;
        margin: auto;
    }
    .formContainer{
        background-color: #ffffffbb;
        width: 80%;
        padding: 20px;
        text-align: center;
         border-radius: 5px;
     }
     .formContainer h2{
         font-size: 16px;
         text-transform: uppercase;
         text-align: left;
         margin-bottom: 15px;
     }
     .formContainer p{
         font-size: 16px;
         text-align: left;
         margin-bottom: 15px;
     }
   
}
@media  screen and (max-width:414px) {
    .container{
        width: 100%;
    }
    section{
        background-image: url(../images/people.jpg);
        background-size:cover;
        overflow:hidden;
        padding: 20px;
        display: flex;
    }
    .formContainer{
        float: none;
        margin: auto;
        background-color: #ffffffbb;
        max-width: 90%;
        padding: 20px;
        text-align: center;
         border-radius: 5px;
     }
     .formContainer h2{
         font-size: 16px;
         text-transform: uppercase;
         text-align: left;
         margin-bottom: 15px;
     }
     .formContainer p{
         font-size: 16px;
         text-align: left;
         margin-bottom: 15px;
     }
     footer{
        background-color: #202121;
        text-align: center;
        padding: 10px;
    
    }
     .description{
        color: white;
        display:block;
        width: 100%;
        margin-left: 0;

    }
    .description h3{
        font-size: 24px;
    }
    .description h3, .description p{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}
@media  screen and (max-width:414px) {
    .container{
        width: 100%;
    }
    section{
        background-image: url(../images/people.jpg);
        background-size:cover;
        overflow:hidden;
        padding: 20px;
        display: flex;
    }
    .formContainer{
        float: none;
        margin: auto;
        background-color: #ffffffbb;
        max-width: 90%;
        padding: 20px;
        text-align: center;
         border-radius: 5px;
     }
     .formContainer h2{
         font-size: 16px;
         text-transform: uppercase;
         text-align: left;
         margin-bottom: 15px;
     }
     .formContainer p{
         font-size: 16px;
         text-align: left;
         margin-bottom: 15px;
     }
     footer{
        background-color: #202121;
        text-align: center;
        padding: 10px;
    
    }
     .description{
        color: white;
        display:block;
        width: 100%;
        margin-left: 0;

    }
    .description h3{
        font-size: 24px;
    }
    .description h3, .description p{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}

@media  screen and (max-width:414px) {
    .container{
        width: 100%;
    }
    section{
        background-image: url(../images/people.jpg);
        background-size:cover;
        overflow:hidden;
        padding: 20px;
        display: flex;
    }
    .formContainer{
        float: none;
        margin: auto;
        background-color: #ffffffbb;
        max-width: 90%;
        padding: 20px;
        text-align: center;
         border-radius: 5px;
     }
     .formContainer h2{
         font-size: 16px;
         text-transform: uppercase;
         text-align: left;
         margin-bottom: 15px;
     }
     .formContainer p{
         font-size: 16px;
         text-align: left;
         margin-bottom: 15px;
     }
     footer{
        background-color: #202121;
        text-align: center;
        padding: 10px;
    
    }
     .description{
        color: white;
        display:block;
        width: 100%;
        margin-left: 0;

    }
    .description h3{
        font-size: 24px;
    }
    .description h3, .description p{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}
@media  screen and (max-width:375px) {
    
     .description{
    
        width: 100%;
        margin-left: 0;
    }
   
    .description h3, .description p{
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
}